NODE_ENV=xxx
PORT=xxx
NODE_DEV_PORT=xxx
DB_HOST=xxx
DB_USER=xxx
DB_PASSWORD=xxx
DATABASE=xxx
DB_PORT=xxx
WAIT_HOSTS=xxx
NGINX_PORT=xxx

JWT_SECRET_KEY=xxx
JWT_REFRESH_KEY=xxx

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AWS_ACCESS_KEY_ID = xxx
AWS_SECRET_ACCESS_KEY = xxx
BUCKET_NAME = xxx
REGION = xxx

DATABASE_URL=xxx